:root{
	--mainColor:#15202B;
	--secondaryColor:#192734;

	--borderColor:#5A5A5A;

	--mainText:#fff;
	--secondaryText:#eeeeee;

	--themeDotBorder:#FFF;

	--previewBg:rgb(0, 0, 0, 0);
	--previewShadow:#111921;


	--buttonColor:#17a2b8;


}